<header class="top-area" id="home">
    <div class="header-top-area">
        <!--MAINMENU AREA-->
        <div class="mainmenu-area" id="mainmenu-area">
            <div class="mainmenu-area-bg"></div>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#home" class="navbar-brand"><img src="~/template/massive/img/logo.png" alt="logo"></a>
                    </div>
                    <div id="main-nav" class="stellarnav">
                        <ul id="nav" class="nav navbar-nav pull-right">
                            <li class="active">
                                <a href="#home">home</a>
                                <ul>
                                    <li><a href="@Url.Action("Index", "Massive")"> Home Version 1</a></li>
                                    <li><a href="@Url.Action("Index2", "Massive")"> Home Version 2</a></li>
                                    <li><a href="@Url.Action("Index3", "Massive")"> Home Version 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#features">Features</a></li>
                            <li><a href="#work">Work</a></li>
                            <li><a href="#video">Video</a></li>
                            <li><a href="#screenshot">Screenshot</a></li>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#news">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--END MAINMENU AREA END-->
    </div>
    <div class="welcome-text-area white">
        <div class="area-bg"></div>
        <div class="welcome-area">
            <div class="container">
                <div class="row flex-v-center">
                    <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                        <div class="welcome-mockup">
                            <img src="~/template/massive/img/home/home-two-mobile-mockup.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="welcome-text">
                            <h1>Present your app with Millions people</h1>
                            <p>A better way to present your app using fully featured template now available on the App Store and Play Store!</p>
                            <div class="home-button">
                                <a href="#"><img src="~/template/massive/img/home/appale-button.png" alt=""></a>
                                <a href="#"><img src="~/template/massive/img/home/google-play-button.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>